<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>TPArchiSI</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <display-name>HelloWorld Application</display-name>
    <description>
        This is a simple web application with a source code organization
        based on the recommendations of the Application Developer's Guide.
    </description>

    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>lol.TP1</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/TP1</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DisplayHourandDate</servlet-name>
        <servlet-class>lol.TP2</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DisplayHourandDate</servlet-name>
        <url-pattern>/TP2</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>lol.Blog</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Blog</url-pattern>
    </servlet-mapping>
    
	<context-param>
	  <param-name>login</param-name>
	  <param-value>yayo</param-value>
	</context-param>
	
	<context-param>
	  <param-name>password</param-name>
	  <param-value>po</param-value>
	</context-param>


</web-app>